* {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none !important;
  }
  h1 {
    margin-left: -0.04em;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Nunito Sans', 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 0.04em;
    color: rgba(140,140,140,1);
  }
  h3 {
    font-size: 1.1em;
    font-weight: 600;
  }
  h4 {
    font-size: 1em;
    font-weight: 600;
  }
  a {
    color: rgba(116,153,66,1);
  }
  a:hover {
    color: rgba(116,153,66,0.7);
  }
  small a {
    font-weight: 600;
  }
  hr {
    margin: 1.4em 0 1.4em 0;
  }
  .header-bg {
    background: url("background.jpg");
    background-size: cover;
  }
  .header {
    background-color: rgba(42,46,48,1.0);
    color: white;
    border-radius: 0;
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .header {
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      background-color: transparent;
    }
  }
  .header a {
    font-weight: 600;
    color: rgba(255,255,255,0.5);
  }
  .header a:hover {
    color: rgba(255,255,255,0.35);
  }
  .header .pic {
    max-height: 240px;
    margin-right: 40px;
  }